{{#if isLoggedIn}}
    {{>logged_header}}
{{else}}
    {{>log_header}}
{{/if}}
{{#if isWrong}}
    {{#each errors}}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Retry!</strong> {{this.msg}}
        </div>
    {{/each}}
{{/if}}
<div class="page-container" style="background-color:#C3AED6;width:100%;" >
    <h1 style="text-align: center;font-weight: bolder;font-size: 60px;font-family: 'Grandstander';'margin-top:10px;padding-bottom: 0px;">Paintings Hired</h1>
    <div class="wrapper fadeInDown" >
        <div id="formContent" style="background: #9D65C9;width: 100%;">
            <form method="POST" action="order_paintings">
                {{#each pain_info}}
                <div class="row" >
                    <div class="col-sm-5">
                        <img src="../{{this.pic_path}}" style="height: 270px;width: 75%;margin-left:10px;margin-top:10px;margin-bottom:10px;">
                    </div>
                    <div class="col-sm-7" style="padding-top: 20px;padding-left: 20px;">
                        <table class="table table-dark">
                            <tbody style="font-size: 18px;color: black;">
                            <tr>
                                <th scope="row"></th>
                                <td>Dimension</td>
                                <td>:</td>
                                <td>{{this.Width}} X {{this.Height}}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Weight</td>
                                <td>:</td>
                                <td>{{this.Weight}} gm</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Theme</td>
                                <td>:</td>
                                <td>{{this.Genre}} </td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td>Deadline</td>
                                <td>:</td>
                                <td>{{this.reinstateDate}}/-</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/return/{{this.painting_ID}}"><button type="button" class="btn btn-danger" style="float: right;">Return</button></a>
                    </div>

                </div>
                <div style="background-color:#C3AED6;"><br></div>
                {{/each}}
            </form>
        </div>
        <br><br>
        </div>
    </div>
</div>
{{>footer}}