{{#if isLoggedIn}}
   {{>profile_header}}
{{else}}
   {{>header }}
{{/if}}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
<div class="main-content">
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 70px; background-image:;background-size: cover; background-position: center top;">
        <span class="mask bg-gradient-default opacity-8"></span>
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="text-white" style="font-size: 70px ;font-family: 'Sansita Swashed', cursive;">Hello {{username}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow" >
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="../img/cat-{{user_info.category_type}}.jpg" class="rounded-circle" style="margin-left: 10px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                        </div>
                    </div>-->
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row" style="margin-top: 100px">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    <div>
                                        <span class="heading" style="font-size: 15px">{{user_info.paintings_owned}}</span>
                                        <span class="description" style="font-size: 15px">Paintings</span>
                                        <span class="description" style="font-size: 15px">Owned</span>
                                    </div>
                                    <div>
                                        <span class="heading" style="font-size: 15px">{{user_info.paintings_expired}}</span>
                                        <span class="description"style="font-size: 15px">Expired</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3>
                                <a href='../{{username}}/paintings_rented'><span class="font-weight-light" style="font-size: 17px;color:red;">Show Paintings Rented</span></a>||
                                <a href='../{{username}}/paintings_owned'><span class="font-weight-light" style="font-size: 17px;color:red;">Show Paintings Owned</span></a>
                            </h3>
                            <div class="h5 font-weight-300">
                                <h1>
                                  
                                </h1>
                            </div>
                            <!--<div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                            </div>
                            <div>
                                <i class="ni education_hat mr-2"></i>University of Computer Science
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0" style="font-size: 20px">My account</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <h6 class="heading-small text-muted mb-4" style="font-size: 12px;font-weight:bolder;">User information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-username" style="font-size: 15px">user ID</label>
                                            <input type="text" id="input-username" class="form-control form-control-alternative" style="font-size: 13px;color:black;opacity:1;font-weight:bolder;" placeholder="{{username}}" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email"style="font-size: 15px">Email ID</label>
                                            <input type="email" id="input-email" class="form-control form-control-alternative" style="font-size: 13px" placeholder="{{user_info.mail_ID}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-first-name" style="font-size: 15px">First Name</label>
                                            <input type="text" id="input-first-name" class="form-control form-control-alternative" style="font-size: 13px" placeholder="{{user_info.first_name}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-last-name" style="font-size: 15px">Middle Name</label>
                                            <input type="text" id="input-last-name" class="form-control form-control-alternative" style="font-size: 13px" placeholder="{{user_info.mid_name}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-last-name" style="font-size: 15px">Last name</label>
                                            <input type="text" id="input-last-name" class="form-control form-control-alternative" style="font-size: 13px" placeholder="{{user_info.last_name}}">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-DOB" style="font-size: 15px">Date of Birth</label>
                                            <input type="text" id="DOB" class="form-control form-control-alternative" style="font-size: 13px" placeholder="{{user_info.DOB}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4" style="font-size: 15px">Contact information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-city" style="font-size: 15px">Contact Number</label>
                                            <input type="text" id="input-phone1" class="form-control form-control-alternative" placeholder="Phone1" style="font-size: 13px" value="7698952223">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-country" style="font-size: 15px">Alternative</label>
                                            <input type="text" id="input-phone2" class="form-control form-control-alternative" placeholder="Phone2" style="font-size: 13px" value="" alt="Edit to add">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address" style="font-size: 15px">Street</label>
                                            <input id="input-address" class="form-control form-control-alternative" placeholder="{{user_info.street}}" style="font-size: 13px"  type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-city" style="font-size: 15px">City</label>
                                            <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="{{user_info.city}}" style="font-size: 13px" >
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-city" style="font-size: 15px">State</label>
                                            <input type="text" id="input-State" class="form-control form-control-alternative" placeholder="{{user_info.state}}" style="font-size: 13px" >
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-country" style="font-size: 15px">Country</label>
                                            <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="{{user_info.country}}" style="font-size: 13px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}