{{#if isLoggedIn}}
    {{>logged_header}}
{{else}}
    {{>header}}
{{/if}}
<div class="container" style="background-color:#28df99;margin-top:0px;margin-bottom:0px;border-radius: 5px;width: 100%">
    <div class="row">
        <div class="col-sm-2" style="margin-top: 15px;font-size:30px;font-weight: bold;font-family: sofia;">Filters:</div>
        <form method="POST" action="filter">
            <div class="col-sm-3">
                <label for="filters" style="margin-top: 15px;font-size:30px;font-weight: lighter;font-family: sofia;"></label>
                <select id="fil" name="fil" style="background-color:#28df99;margin-top: 15px;font-size:30px;font-weight: lighter;font-family: sofia;border:solid 2px;">
                    <option value="all" style="background-color:#fe7171;font-size:20px;font-family:monospace;">Sort By</option>
                    <option value="nothired" style="background-color:#fe7171;font-size:20px;font-family:monospace;">Not Sold</option>
                    <option value="new" style="background-color:#fe7171;font-size:20px;font-family:monospace;">Newest</option>
                    <option value="old" style="background-color:#fe7171;font-size:20px;font-family:monospace;">Oldest</option>
                    <option value="best" style="background-color:#fe7171;font-size:20px;font-family:monospace;">Best Selling</option>
                    <option value="alpha" style="background-color:#fe7171;font-size:20px;font-family:monospace;">Alphabetical</option>
                    <option value="price" style="background-color:#fe7171;font-size:20px;font-family:monospace;">Price</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="filters" style="font-size:30px;font-weight: lighter;font-family: sofia;"></label>
                <select id="theme" name="theme" style="background-color:#28df99;margin-top: 15px;font-size:30px;font-weight: lighter;font-family: sofia;border:solid 2px;">
                    <option value="all" style="background-color:#fe7171;font-size:20px;font-family:monospace;">Themes</option>
                    {{#each pain_theme}}
                        <option style="background-color:#fe7171;font-size:20px;font-family:monospace;" value={{this.Genre}}>{{this.Genre}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-sm-2">
                <input type="submit" class="hoving" style="margin-top: 15px;font-size:30px;font-weight: lighter;font-family: sofia;background-color:#28df99;" value="Apply Filter">
            </div>
        </form>
        <div class="col-sm-2">
            <form method="get" action="paintings">
                <input type="submit" class="hoving" value="Clear Filters" style='font-size:30px;font-weight: lighter;font-family: sofia;background-color:#28df99;'>
            </form>
        </div>
    </div>
</div>
<div class="container" style="width: 100%;background-color: #ffffff;margin-left: 10px;border-bottom: 1px solid black;border-bottom-style: dashed;">
	<div class="row" style="text-align: center;font-size: 45px;font-family:'Shadows Into Light';">
		Paintings Found
	</div>
	<div class="row">
{{#each pain_info}}
      {{#check @index }}
      <div class="col-sm-4" id="left">
      	    {{#if this.isHired}}
				<div class="opt2" style="background-color: #ec0101;">SOLD</div>
			{{else}}
				<div class="opt1" style="background-color: #79d70f;">In Stock</div>
			{{/if}}
			<a href="paintings/{{this.painting_ID}}">
			<img src={{this.pic_path}} style="height: 250px;width: 300px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>{{this.Title}}</h7></a>
		</div>
      </div>
      <div class="row">
      {{else}}
      <div class="col-sm-4" id="left">
			{{#if this.isHired}}
				<div class="opt2" style="background-color: #ec0101;">SOLD</div>
			{{else}}
				<div class="opt1" style="background-color: #79d70f;">In Stock</div>
			{{/if}}
			<a href="paintings/{{this.painting_ID}}">
			<img src={{this.pic_path}} style="height: 250px;width: 300px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>{{this.Title}}</h7></a>
		</div>
      {{/check}}
 {{/each}}
{{#if result_len}}
</div>
{{/if}}
</div>
{{>footer}}